<!--Bottom Nav-->

<footer>
 
  <nav class="navbar fixed-bottom navbar-dark" style="background-color: #0f292f;">
    <h6 class="navbar-text"> &copy; Copyright. 2020 All Rights Reserved.</h6>
  </nav>

</footer>