<!--Main Content-->
  <main class = "container">
    <div class = "row">
      <div class = "col-sm-4">
        
      </div>

    </div>
<div class = "row">
  <div class = "col">
    
    <body> <script src ="/scripts/game.js"></script> </body>
    
  </div>

  </div>

  
    
  </div>
    </main>

    